db.name={{db_name}}
db.user={{db_user}}
db.pass={{db_pass}}

conference.year={{year}}
call4papers.active={{c4p_active}}
call4papers.voting={{v4p_active}}

host={{host}}
files.folder=/home/jelatyna/2016/files
files.context=/files

facebook.app.id={{fb_id}}
facebook.app.secret={{fb_secret}}

twitter.key={{twitter_key}}
twitter.secret={{twitter_secret}}

mandril.key={{mandril_key}}
sendgrid.key={{sendgrid_key}}