html .confitura,
body.confitura,
.confitura div,
.confitura span,
.confitura object,
.confitura iframe,
.confitura h1,
.confitura h2,
.confitura h3,
.confitura h4,
.confitura h5,
.confitura h6,
.confitura p,
.confitura blockquote,
.confitura pre,
.confitura abbr,
.confitura address,
.confitura cite,
.confitura code,
.confitura del,
.confitura dfn,
.confitura em,
.confitura img,
.confitura ins,
.confitura kbd,
.confitura q,
.confitura samp,
.confitura small,
.confitura strong,
.confitura var,
.confitura b,
.confitura i,
.confitura dl,
.confitura dt,
.confitura dd,
.confitura ol,
.confitura ul,
.confitura li,
.confitura fieldset,
.confitura form,
.confitura label,
.confitura legend,
.confitura table,
.confitura caption,
.confitura tbody,
.confitura tfoot,
.confitura thead,
.confitura tr,
.confitura th,
.confitura td,
.confitura article,
.confitura aside,
.confitura canvas,
.confitura details,
.confitura figcaption,
.confitura figure,
.confitura footer,
.confitura header,
.confitura hgroup,
.confitura menu,
.confitura nav,
.confitura section,
.confitura summary,
.confitura time,
.confitura mark,
.confitura audio,
.confitura video {
    outline: 0;
    font-size: 100%;
    vertical-align: baseline
}

.confitura article,
.confitura aside,
.confitura details,
.confitura figcaption,
.confitura figure,
.confitura footer,
.confitura header,
.confitura hgroup,
.confitura menu,
.confitura nav,
.confitura section {
    display: block
}

.confitura ul,
.confitura ol {
    list-style: none
}

.confitura blockquote,
.confitura q {
    quotes: none
}

.confitura blockquote:before,
.confitura blockquote:after,
.confitura q:before,
.confitura q:after {
    content: '';
    content: none
}

.confitura table {
    border-spacing: 1px
}

body.confitura {
    font: 13px Arial, sans-serif;
    color: #7e7e7e;
    background: #1b0218 url(/img/background.png) no-repeat;
    background-size: 100%;
}

.confitura a {
    color: inherit;
    text-decoration: none;
}

.confitura a:hover {
    color: #b31301;
}

.confitura article a {
    color: inherit;
    text-decoration: none;
    color: #b31301;
}

.confitura article a:hover {
    color: #b31301;
}

.confitura h1 span,
.confitura h2 span,
.confitura h3 span,
.confitura header span,
.confitura span.red {
    color: #bd1701;
}

.confitura .styled-form input[type="text"] {
    width: 400px;
    height: 20px;
    border: 0;
    padding: 15px;
    background: url(../img/bgpost.png) repeat;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.confitura #social a:hover.fb {
    background-position: 0px -29px;
}

.confitura #social form {
    padding: 0px;
    display: inline;
    margin: 0px;
}

.confitura #social a:hover.picasa {
    background-position: -29px -29px;
}

.confitura #social a:hover.twitter {
    background-position: -58px -29px;
}

.confitura #menu {
    float: right;
    height: 70px;
}

.confitura #menu li {
    float: left;
    display: block;
    position: relative;
}

.confitura #menu li a {
    display: block;
    padding: 0 15px;
    height: 30px;
    line-height: 25px;
    outline: none;
}

.confitura #menu > ul > li.active,
.confitura #menu > ul > li:hover {
    background: url(../img/bgmenu.png) repeat-x;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.confitura #menu > ul > li.active.submenu,
.confitura #menu > ul > li.submenu:hover {
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.confitura #menu > ul > li.submenu.active:before,
.confitura #menu > ul > li.submenu.active:after,
.confitura #menu > ul > li.submenu:hover:before,
.confitura #menu > ul > li.submenu:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 12px;
    height: 12px;
}

.confitura #menu > ul > li.submenu.active:before,
.confitura #menu > ul > li.submenu:hover:before {
    left: -12px;
    background: url(../img/bgmenu2.png) no-repeat;
}

.confitura #menu > ul > li.submenu.active:after,
.confitura #menu > ul > li.submenu:hover:after {
    right: -12px;
    background: url(../img/bgmenu2.png) no-repeat -12px 0;
}

.confitura #menu li ul {
    display: none;
    position: absolute;
    top: 30px;
    left: -120px;
    width: 325px; /* do zmiany */
    background: url(../img/bgmenu.png) repeat-x 0 -30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.confitura #menu li:hover ul,
.confitura #menu li.active ul {
    display: block;
}

.confitura .selectwrap {
    display: inline-block;
    overflow: hidden;
    width: 400px;
    height: 50px;
    background: url(../img/bgpost.png) repeat;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.confitura form .czytajwiecej:hover {
    background-position: 0 0;
    cursor: default;
}

.confitura form .czytajwiecej.unlocked:hover {
    background-position: 0 -38px;
    cursor: pointer;
}

.confitura .input-prepend {
    font-size: 0px;
}

.confitura .login{
    margin: auto;
    width: 550px;
}