.confitura h1 {
    color: #3e3e3e;
    font-size: 27px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 25px;
}

.confitura h2 {
    color: #3e3e3e;
    font-size: 27px;
    font-weight: normal;
    line-height: 22px;
    margin-bottom: 20px;
}

.confitura h3 {
    color: #3e3e3e;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 20px;
}

.confitura .hidden {
    visibility: hidden;
}

/* HTML5 Reset */

/* Author: niu tech (http://niute.ch) */
.confitura p {
    margin-bottom: 10px;
    line-height: 20px;
}

.confitura img {
    vertical-align: bottom;
}

.confitura .wrapper {
    width: 800px;
    margin: auto;
}

.confitura header .wrapper {
    width: 960px;
    height: 440px;
}

hgroup {
    height: 170px;
}

#logo {
    float: left;
    text-indent: -9876px;
    background: url(/img/logo.png) no-repeat;
    width: 224px;
    height: 93px;
    margin: 20px 0 0 40px;
}

#logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.confitura #slogan {
    float: right;
    margin-top: 30px;
    text-align: right;
}

#redbrick {
    display: block;
    float: right;
    background: #C43C2C;
    width: 85px;
    height: 7px;
}

header section {
    height: 270px;
    color: #E0DCD8;
}

#social {
    float: left;
    height: 70px;
    margin-left: 30px;
}

#social a {
    display: inline-block;
    width: 29px;
    height: 29px;
    margin-left: 4px;
    background: url(/img/social.png) no-repeat;
    vertical-align: middle;
}

#facebooklogin a {
    display: inline-block;
    width: 100px;
    height: 46px;
    margin-left: 4px;
    background: url(/img/facebookLogin.png) no-repeat;
    vertical-align: middle;
}

#social .picasa {
    background-position: -29px 0;
}

#social .twitter {
    background-position: -58px 0;
}

#platynowi, #carousel {
    height: 85px;
    color: #3e3e3e;
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#platynowi li, #carousel li {
    display: block;
    float: left;
    height: 35px;
    padding: 25px 20px;
    line-height: normal;
}

#platynowi {
    width: 355px;
    float: left;
    margin-left: 20px;
    background: #fff url(/img/paski.png) repeat;
    clear: left;
}

#carousel {
    width: 540px;
    float: right;
    margin-right: 20px;
    padding: 0 10px;
    position: relative;
}

#carousel .slider {
    padding-left: 10px;
    overflow: hidden;
}

.jcarousel-list-horizontal, .jcarousel-clip-horizontal {
    width: 500px;
}

.jcarousel-clip {
    overflow: hidden;
}

#carousel cufon {
    padding-left: 20px;
}

#prevcar, #nextcar {
    display: block;
    width: 37px;
    height: 37px;
    position: absolute;
    top: 24px;
    z-index: 3;
    background: url(/img/strzalki.png) no-repeat;
}

#prevcar {
    left: -21px;
}

#nextcar {
    right: -20px;
    background-position: -37px 0;
}

#prevcar:hover, #nextcar:hover {
    background-position-y: -37px;
}

#main {
    position: relative;
    /*z-index: 1;*/
    /*width: 100%;*/
    /*float: left;*/
}

#posts, #pager {
    padding: 30px;
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#posts {
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
    /*min-height: 1530px;*/
}

#posts.nopager {
    /*min-height: 1550px;*/
}

figure {
    float: left;
    position: relative;
    margin: 0 20px 10px 0;
}

figure img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.zoom {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 86px;
    height: 46px;
    padding-top: 40px;
    margin: -43px 0 0 -43px;
    background: url(/img/zoom.png) no-repeat;
    text-align: center;
    font-size: 8px;
}

figure:hover .zoom {
    display: block;
    color: #7e7e7e;
}

.zoom span {
    color: #000;
    font-size: 10px;
}

#page h2 img {
    padding-bottom: 5px;
}

#page article, .linki {
    position: relative;

}

#page figure {
    margin-left: -50px;
    padding-bottom: 12px;
    background: url(/img/cien3.png) no-repeat bottom center;
}

#page.spinacz figure:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 12px;
    z-index: 3;
    width: 16px;
    height: 47px;
    background: url(/img/spinacz.png) no-repeat;
}

#page figure a:hover:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2;
    width: 15px;
    height: 15px;
    background: url(/img/lupa.png) no-repeat;
}

.linki {
    margin-top: -30px;
    margin-bottom: 30px;
    height: 40px;
}

.link {
    float: left;
    color: #3e3e3e;
    font-size: 16px;
}

.link:first-child {
    width: 350px;
}

.wyslij {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background: url(/img/wyslij.png) no-repeat;
}

.linka {
    background-position: -40px 0;
}

.twittera {
    background-position: -80px 0;
}

a:hover .wyslij {
    background-position-y: -40px;
}

.klips article {
    margin-bottom: 55px;
}

.klips article:after {
    content: "";
    position: absolute;
    top: -37px;
    right: 24px;
    z-index: 2;
    width: 52px;
    height: 63px;
    background: url(/img/klips.png) no-repeat;
}

#agenda {
    width: 100%;
}

#agenda th {
    font-size: 16px;
    padding: 30px;
    background: #ece8e2;
    color: #b31301;
}

#agenda th:first-child {
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#agenda th:last-child {
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#agenda thead td {
    height: 20px;
}

#agenda tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
}

#agenda tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
}

#agenda tbody tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-left-radius: 20px;
}

#agenda tbody tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
}

#agenda tbody td {
    padding: 15px 5px;
    background: #ece8e2;
    font-size: 12px;
    line-height: 18px;
    color: #555;
}

#agenda td:first-child {
    font-weight: bold;
    text-align: center;
    width: 80px;
}

#agenda .light td {
    background: #f9f8f5;
}

#agenda .light td:last-child {
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

/* form label {
	display: inline-block;
	width: 160px;
	font-size: 14px;
	color: #555;
} */
#stuwrap {
    display: block;
    margin-left: 160px;
    font-size: 10px;
    color: #7e7e7e;
}

#stu {
    display: block;
    position: relative;
    width: 156px;
    height: 38px;
    background: url(/img/unlock.png) no-repeat;
    cursor: pointer;
}

#stu.unlocked {
    background-position: -156px 0;
}

#stuknob {
    position: relative;
    display: block;
    width: 63px;
    height: 30px;
    background: url(/img/unlock2.png) no-repeat;
}

.unlocked #stuknob {
    background-position: -63px 0;
}

#pager {
    height: 50px;
    text-align: center;
}

#pager ul {
    display: block;
    float: left;
    width: 550px;
    height: 12px;
    background: url(/img/pager.png) repeat-x;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#pager li {
    float: left;
    display: block;
    width: 20%; /* 100% / ilosc stron */
}

#pager li a, #pager li span em {
    position: relative;
    display: block;
    padding-top: 16px;
}

#pager li.akt a, #pager li a:hover {
    color: #bd1701;
}

#pager li span em:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background: url(/img/pager2.png) repeat-x;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.wstecz, .dalej {
    display: block;
    float: left;
    width: 50px;
}

.wstecz em, .dalej em {
    visibility: hidden;
}

#cien {
    height: 14px;
    margin-bottom: 40px;
    background: url(/img/cien.png) no-repeat;
}

#sidebar {
    width: 200px;
    float: right;
    margin-top: -85px;
}

.confitura .box {
    padding: 0 30px 20px 20px;
    color: #434343;
}

#rejestracja {
    padding-top: 30px;
    background: url(/img/paski2.png) repeat;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-left-radius: 0;
}

#rozklad {
    padding-top: 10px;
    background: url(/img/rozkladjazdy.png) no-repeat;
    height: 241px;
}

#prelegenci h3 img {
    vertical-align: middle;
}

#prelegenci.box {
    width: 230px;
}

#prelegenci h2 {
    margin-top: -15px;
}

#prelegencitlo {
    width: 195px;
    height: 176px;
    margin: 0 0 25px -10px;
    padding: 70px 0 0 40px;
    background: url(/img/prelegenci.png) no-repeat;
}

#crop {
    -ms-transform: rotate(-24deg);
    -moz-transform: rotate(-24deg);
    -webkit-transform: rotate(-24deg);
    -o-transform: rotate(-24deg);
    transform: rotate(-24deg);
    height: 124px;
    width: 140px;
    overflow: hidden;
}

#crop img {
    width: 140px;
}

#organizator, #gospodarz {
    position: relative;
}

#organizator .strzalka, #gospodarz .strzalka {
    position: absolute;
    bottom: 32px;
    right: 8px;
    z-index: 1;
    width: 40px;
    height: 42px;
    background: url(/img/strzalka.png);
}

#organizator .strzalka:hover, #gospodarz .strzalka:hover {
    background-position: -40px 0;
}

#rss {
    position: relative;
    left: -22px;
    width: 170px;
    height: 182px;
    padding: 50px 30px 30px 42px;
    background: url(/img/rss.png) no-repeat;
    color: #E0DCD8;
}

footer {
    clear: both;
    background: url(/img/bgdol2.png) repeat-x;
}

#bgdol {
    height: 465px;
    padding-top: 20px;
    background: url(/img/bgdol.png) no-repeat top center;
    color: #E0DCD8;
}

#bgdol h2, #rss h2 {
    color: #E0DCD8;
}

.confitura #twitter {
    float: left;
    width: 267px;
}

.confitura #twitter p {
    margin-left: 10px;
}

.confitura #twitter img {
    vertical-align: middle;
}

.confitura #twitty {
    padding: 0 10px;
}

.confitura #twitty ul, .confitura #twitty span {
    padding: 0px;
    margin: 0px;
}

.confitura #twitty li {
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    line-height: normal;
}

.confitura #twitty li span {
    color: inherit;
}

.confitura .tweet_avatar {
    float: left;
    margin: 0 10px 10px 0;
}

.confitura .tweet_avatar img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.confitura .tweet_user {
    display: block;
    font-weight: bold;
}

.confitura .tweet_text {
    display: block;
    font-size: 11px;
    height: 26px;
    overflow: hidden;
}

.confitura .tweet_time {
    display: block;
    font-size: 10px;
}

.confitura .tweet_time a {
    color: #555;
}

#skroty {
    float: left;
    margin-left: 90px;
    width: 300px;
}

#skroty li {
    display: block;
    float: left;
    width: 130px;
    line-height: 30px;
    padding-left: 20px;
    background: url(/img/strzalka2.png) no-repeat 0 10px;
}

#copy {
    float: right;
    width: 190px;
    margin-top: 115px;
    text-align: center;
}

.confitura #hello {
    margin-bottom: 30px;
    color: #2c2c2c;
    font-size: 16px;
}

.confitura #hello img {
    vertical-align: middle;
}

.confitura article {
    clear: both;
    margin-bottom: 30px;
}

.confitura article h1 {
    font-size: 22px;
    line-height: normal;
}

.confitura article p {
    margin-bottom: 25px;
}

.confitura article blockquote {
    padding: 30px;
    margin-bottom: 25px;
    text-align: center;
    background: url(/img/quote2.png) no-repeat;
    background: url(/img/quote2.png) no-repeat top left, url(/img/quote.png) no-repeat bottom right;
    color: #2c2c2c;
    font-style: italic;
}

.confitura article ul {
    list-style-image: url(/img/strzalka3.png);
    margin: 0 0 25px 30px;
    line-height: 20px;
}

.confitura .data {
    float: left;
    width: 67px;
    height: 38px;
    margin: 0 20px 0 -50px;
    padding: 7px 10px 13px 50px;
    background: url(/img/data.png) no-repeat;
    color: #e8e5de;
}

.confitura .czytajwiecej, .confitura .zobaczrozklad {
    display: block;
    width: 94px;
    height: 38px;
    line-height: 25px;
    padding: 0 15px;
    background: url(/img/czytajwiecej.png) no-repeat;
    color: #e8e5de;
}

.confitura .czytajwiecej:hover, .confitura .zobaczrozklad:hover {
    background-position: 0 -38px;
    color: #e8e5de;
}

.confitura .czytajwiecej {
    float: right;
    margin-bottom: 10px;
}

.confitura a.czytajwiecej {
    float: right;
    margin-bottom: 10px;
    color: white;
}

.confitura .paski {
    clear: both;
    margin-top: 50px;
    border-top: 1px solid #dadada;
    padding: 0 10px;
    line-height: 34px;
    background: url(/img/paski.png) repeat-x bottom;
    color: #303030;
    text-align: right;
}

.confitura .paski a {
    color: #868686;
}

.confitura .zarejestruj {
    display: block;
    width: 151px;
    height: 60px;
    line-height: 43px;
    padding: 0 25px;
    background: url(/img/zarejestruj.png) no-repeat;
    color: #e8e5de;
    font-size: 20px;
}

.confitura .zarejestruj:hover {
    background-position: 0 -60px;
    color: #e8e5de;
}

.confitura .dogory {
    display: block;
    width: 124px;
    height: 38px;
    line-height: 25px;
    padding: 0 15px;
    background: url(/img/dogory.png) no-repeat;
    float: right;
    color: #e8e5de;
}

.confitura .dogory:hover {
    background-position: 0 -38px;
    color: #e8e5de;
}

/* FancyBox */
#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1104;
    display: none;
}

#fancybox-loading div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 480px;
    background-image: url('/img/fancybox.png');
}

#fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1100;
    display: none;
}

#fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
    display: none;
}

#fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1101;
    outline: none;
    display: none;
}

#fancybox-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

#fancybox-content {
    width: 0;
    height: 0;
    padding: 0;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1102;
    border: 0px solid #fff;
}

#fancybox-hide-sel-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1101;
}

#fancybox-close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('/img/fancybox.png') -40px 0px;
    cursor: pointer;
    z-index: 1103;
    display: none;
}

#fancybox-error {
    color: #444;
    font: normal 12px/20px Arial;
    padding: 14px;
    margin: 0;
}

#fancybox-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    line-height: 0;
    vertical-align: top;
}

#fancybox-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

#fancybox-left, #fancybox-right {
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 35%;
    cursor: pointer;
    outline: none;
    background: transparent url('/img/blank.gif');
    z-index: 1102;
    display: none;
}

#fancybox-left {
    left: 0px;
}

#fancybox-right {
    right: 0px;
}

#fancybox-left-ico, #fancybox-right-ico {
    position: absolute;
    top: 50%;
    left: -9999px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1102;
    display: block;
}

#fancybox-left-ico {
    background-image: url('/img/fancybox.png');
    background-position: -40px -30px;
}

#fancybox-right-ico {
    background-image: url('/img/fancybox.png');
    background-position: -40px -60px;
}

#fancybox-left:hover, #fancybox-right:hover {
    visibility: visible; /* IE6 */
}

#fancybox-left:hover span {
    left: 20px;
}

#fancybox-right:hover span {
    left: auto;
    right: 20px;
}

.fancybox-bg {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    width: 20px;
    height: 20px;
    z-index: 1001;
}

#fancybox-bg-n {
    top: -20px;
    left: 0;
    width: 100%;
    background-image: url('/img/fancybox-x.png');
}

#fancybox-bg-ne {
    top: -20px;
    right: -20px;
    background-image: url('/img/fancybox.png');
    background-position: -40px -162px;
}

#fancybox-bg-e {
    top: 0;
    right: -20px;
    height: 100%;
    background-image: url('/img/fancybox-y.png');
    background-position: -20px 0px;
}

#fancybox-bg-se {
    bottom: -20px;
    right: -20px;
    background-image: url('/img/fancybox.png');
    background-position: -40px -182px;
}

#fancybox-bg-s {
    bottom: -20px;
    left: 0;
    width: 100%;
    background-image: url('/img/fancybox-x.png');
    background-position: 0px -20px;
}

#fancybox-bg-sw {
    bottom: -20px;
    left: -20px;
    background-image: url('/img/fancybox.png');
    background-position: -40px -142px;
}

#fancybox-bg-w {
    top: 0;
    left: -20px;
    height: 100%;
    background-image: url('/img/fancybox-y.png');
}

#fancybox-bg-nw {
    top: -20px;
    left: -20px;
    background-image: url('/img/fancybox.png');
    background-position: -40px -122px;
}

#fancybox-title {
    font-family: Helvetica;
    font-size: 12px;
    z-index: 1102;
}

.fancybox-title-inside {
    padding-bottom: 10px;
    text-align: center;
    color: #333;
    background: #fff;
    position: relative;
}

.fancybox-title-outside {
    padding-top: 10px;
    color: #fff;
}

.fancybox-title-over {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: left;
}

#fancybox-title-over {
    padding: 10px;
    background-image: url('/img/fancy_title_over.png');
    display: block;
}

.fancybox-title-float {
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 32px;
}

#fancybox-title-float-wrap {
    border: none;
    border-collapse: collapse;
    width: auto;
}

#fancybox-title-float-wrap td {
    border: none;
    white-space: nowrap;
}

#fancybox-title-float-left {
    padding: 0 0 0 15px;
    background: url('/img/fancybox.png') -40px -90px no-repeat;
}

#fancybox-title-float-main {
    color: #FFF;
    line-height: 29px;
    font-weight: bold;
    padding: 0 0 3px 0;
    background: url('/img/fancybox-x.png') 0px -40px;
}

#fancybox-title-float-right {
    padding: 0 0 0 15px;
    background: url('/img/fancybox.png') -55px -90px no-repeat;
}

/* IE6 */
.fancybox-ie6 #fancybox-close {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_close.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-left-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_nav_left.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-right-ico {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_nav_right.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-over {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_title_over.png', sizingMethod='scale');
    zoom: 1;
}

.fancybox-ie6 #fancybox-title-float-left {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_title_left.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-float-main {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_title_main.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-title-float-right {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_title_right.png', sizingMethod='scale');
}

.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
    height: expression(this.parentNode.clientHeight +         "px");
}

#fancybox-loading.fancybox-ie6 {
    position: absolute;
    margin-top: 0;
    top: expression((       -20 +         (
		document.documentElement.clientHeight ?     
		   document.documentElement.clientHeight/ 2 :     
		   document.body.clientHeight/ 2)+     (     ignoreMe=     document.documentElement.scrollTop?
		
		
		
		 document.documentElement.scrollTop:     document.body.scrollTop))+ 
		   'px');
}

#fancybox-loading.fancybox-ie6 div {
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_loading.png', sizingMethod='scale');
}

/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg {
    background: transparent !important;
}

.fancybox-ie #fancybox-bg-n {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_shadow_n.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-ne {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_shadow_ne.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-e {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_shadow_e.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-se {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_shadow_se.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-s {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_shadow_s.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-sw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_shadow_sw.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-w {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_shadow_w.png', sizingMethod='scale');
}

.fancybox-ie #fancybox-bg-nw {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/fancy_shadow_nw.png', sizingMethod='scale');
}

.textarea {
    width: 450px;
    height: 300px;
}

.error {
    background-color: pink;
}

.confitura .btn-toolbar {
    font-size: 0px;
    margin: 10px;
}

.confitura header {
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
}
.confitura header .banner{
    background: url(/img/banner.png) no-repeat;
    background-size: contain;
    height: 0;
    padding-top: 71.50%;

}

header h1.page-header {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
}

header h2.start-date {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
}

