/*
  General styles
*/

.spacer10 {
    margin-bottom: 10px;
}

.spacer25 {
    margin-bottom: 25px;
}

.spacer50 {
    margin-bottom: 50px;
}

.spacer100 {
    margin-bottom: 100px;
}

.spacer150 {
    margin-bottom: 150px;
}

.spacer200 {
    margin-bottom: 200px;
}

.spacer250 {
    margin-bottom: 250px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.horizontal-spacer10 {
    margin-left: 5px;
    margin-right: 5px;
}

.horizontal-spacer20 {
    margin-left: 10px;
    margin-right: 10px;
}

/*
  === Bootstrap customization ===
*/

/* Feedback Panel customization */

.alert {
    margin-bottom: 1px;
}

/* Small hack to avoid double border when rendering FeedbackPanel */
span .alert {
    border: none;
}

.page-title-image {
    float: left;
    height: 30px;
    margin-right: 8px;
}

/*-------------------------
	Simple reset
--------------------------*/

* {
    margin: 0;
    padding: 0;
}

/*-------------------------
	General Styles
--------------------------*/

#lotteryHeader {
    text-shadow: 0 0 24px #C00, 0 0 4px #C00, 1px 1px 2px #333;
    font-family: "Museo";
    font-size: 50px;
    text-align: center;

}

#luckyGuyContainer {
    text-shadow: 0 0 24px #C00, 0 0 4px #C00, 1px 1px 2px #333;
    font-size: 30px;
}




